body{
    background-color: var(--GrisClaro);
}
.header, .table_comparativa, .abajo{
    width: 65vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.table_comparativa{
    table-layout: fixed;
    border-collapse: collapse; 
}
th,tr,td{
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}