@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--FuentePrincipal: "Roboto", sans-serif;
    --AzulSuave: #BBDBFF;
    --AzulOscuro: #175EF9;
    --AzulMuyOscuro: #151f40;
    --AzulIntermedio: #55A4FF;
    --Verde: #09b657;
    --VerdeClaro: #c0eeb9;
    --Rosa: #8b5d6e;
    --RosaClaro: #d8b3c2;
    --AzulVerde: #3c8d84;
    --AzulverdeClaro: #a8d0c4;
    --GrisOscuro: rgb(63, 63, 63);
    --GrisClaro: #e4ecee;
    --Rojo: #ff4d4d;

}
html{
	font-size: 62.5%;
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	font-size: 16px;
    font-family: var(--FuentePrincipal);
    margin: 0;
}

/*GENERALES*/
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*NAV*/
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 200;
}
.nav_div:first-of-type{
    margin-right: 5rem;
    padding: 1rem;
    background: linear-gradient(200deg, var(--AzulIntermedio) 50%, var(--AzulOscuro) 100%);
    border-radius: 1rem;
}
.nav_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.nav_div-img{
    width: 2rem;
}
.nav_div-imgp{
    width: 4rem;
    filter: invert();
}
.nav_div > a{
    font-weight: 400;
    transition: color .3s ease;
}
.nav_div > a:hover{
    color: var(--AzulIntermedio);
}

@media (max-width: 1000px) {
  .nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding-bottom: 2rem;
  }
  .nav_div:first-of-type{
    grid-column: span 4;
    width:fit-content;
  } 
  .nav_div{
    grid-column: span 1;
    width:fit-content;
  }
}
@media (max-width: 750px) {
  .nav{
    position: static;
  }
}

@media (max-width: 560px) {
  .nav{
    grid-template-columns: 1fr 1fr;
  }
  .nav_div:first-of-type{
    grid-column: span 2;
  } 
}


/*FOOTER*/
.footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--AzulMuyOscuro);
    padding: 5rem 0;
    padding-bottom: 2rem;
    color: white;
}
.footer_contenido{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
.footer_contenido-i > img{
    width: 10rem;
    filter: invert();
}
.footer_contenido-d{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;
}
.footer > hr{
    width: 80vw;
    margin-top: 5rem;
}
.contenido_d-bloque{
    max-width: 40vw;
}
.d_bloque-titulo{
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.contenido_d-bloque > li > a{
    color: white;
    transition: color .3s ease;
}
.contenido_d-bloque > li > a:hover{
    color: var(--AzulIntermedio);
}

@media (max-width: 1100px) {
  .footer_contenido{
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .footer_contenido-d{
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: flex-start;
  }
}