@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--FuentePrincipal: "Roboto", sans-serif;
    --AzulSuave: #BBDBFF;
    --AzulOscuro: #175EF9;
    --AzulMuyOscuro: #151f40;
    --AzulIntermedio: #55A4FF;
    --Verde: #09b657;
    --VerdeClaro: #c0eeb9;
    --Rosa: #8b5d6e;
    --RosaClaro: #d8b3c2;
    --AzulVerde: #3c8d84;
    --AzulverdeClaro: #a8d0c4;
    --GrisOscuro: rgb(63, 63, 63)
}
html{
	font-size: 62.5%;
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	font-size: 16px;
    font-family: var(--FuentePrincipal);
    margin: 0;
}

/*GENERALES*/
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*NAV*/
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav_div:first-of-type{
    margin-right: 5rem;
    padding: 1rem;
    background: linear-gradient(200deg, var(--AzulIntermedio) 50%, var(--AzulOscuro) 100%);
    border-radius: 1rem;
}
.nav_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.nav_div-img{
    width: 2rem;
}
.nav_div-imgp{
    width: 4rem;
    filter: invert();
}
.nav_div > a{
    font-weight: 400;
}

/*HEADER*/
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 7rem;
    background-color: var(--AzulMuyOscuro);
    color: white;
    gap: 8rem;
    height: 80vh;
}
.header_i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    align-items: flex-start;
    min-width: 30vw;
}
.header_i-h1{
    font-size: 4rem;
}
.header_i-h1 > span{
    color: var(--AzulIntermedio);
}
.header_i-p{
    font-size: 1.8rem;
    text-align: left;
}
.header_i-p > span{
    color: var(--AzulIntermedio);
}
.header_d > img{
    max-width: 40em;
    border-radius: 2rem;
}

/*MAIN*/
.main{

}
.main_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    width: 100%;
}
.main_intro-titulo{
    font-size: 3rem;
}
.main_intro-texto{
    font-size: 1.8rem;
    max-width: 70%;
    text-align: center;
}
.main_intro-lista{
    display: flex;
    gap: 8em;
    margin: 0 2rem;
    margin-top: 5rem;
    
}
.intro_lista-li{
    padding: 4rem;
    max-width: 25em;
    border-radius: 3rem;
}
.lista_li-contenedor{
    width: fit-content;
    padding: 2rem;
    border-radius: 2rem;
}
.lista_li-contenedor > img{
    width: 4.5rem;
    filter: invert();
}
.lista_li-texto{
    color: var(--GrisOscuro);
}
#el3{
    position: relative;
    top: .2em;
    left: .15em;
}
.intro_lista-li:nth-child(1) > .lista_li-contenedor{
    background-color: var(--Rosa);
}
.intro_lista-li:nth-of-type(1){
    background-color: var(--RosaClaro);
}
.intro_lista-li:nth-child(2) > .lista_li-contenedor{
    background-color: var(--Verde);
}
.intro_lista-li:nth-of-type(2){
    background-color: var(--VerdeClaro);
}
.intro_lista-li:nth-child(3) > .lista_li-contenedor{
    background-color: var(--AzulVerde);
}
.intro_lista-li:nth-of-type(3){
    background-color: var(--AzulverdeClaro);
}