body{
    background-color: var(--GrisClaro);
}
/*MAIN*/
.main{
    width: 70vw;
    margin: auto;
    margin-top: 5rem;
    
    display: grid;

    grid-template-areas: 
    "titulo titulo"
    "partei parted"
    "imagen imagen";
    grid-template-columns: 3fr 1fr;

    justify-content: center;
    align-items: start;

    gap: 4rem;
}
.main_titulo{
    grid-area: titulo;
}
.main_i{
    grid-area: partei;
}
.main_i > ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main_i-importante{
    color: var(--Rojo);
}
.main_d{
    grid-area: parted;
    background-color: white;
    padding: 3rem 3rem;
    border-radius: 1rem;
}
.main_d > h3{
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.5em;
    text-align: center;
}
.main_d > ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main_debajo{
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main_debajo-img > img{
    width: 100%;
    margin: auto;
    border-radius: 1rem;
}
.main_debajo > hr{
    width: 60%;
    margin-top: 2rem;
}
.main_debajo > p{
    margin: 0;
}
@media (max-width: 850px) {
  .main{
    grid-template-areas: 
    "titulo titulo"
    "partei partei"
    "parted parted"
    "imagen imagen";
  }
}